[Roles]
Toastmaster=role1
Wordmaster=role2
Invocation=role3
Humorist=role4
Speaker1=role5
Speaker2=role6
Evaluator1=role10
Evaluator2=role11
TableTopicsMaster=role14
GeneralEvaluator=role15
Timer=role17
Grammarian=role18

[AdditionalRoles]
PresidingOfficer=President
EducationalTip=Vice.President.of.Education
ReviewNextMeeting=Vice.President.of.Education
RisingAndFallingStars=President
Adjournment=President

[DutyRoster]
URL=http://risingstars.freetoasthost.net/members/roster.cgi?EDIT+
UserName=mario.flores
Password=webred01
DayoftheWeek=wednesday
Date=042010

[OfficersList]
President=Mario Flores
Vice.President.of.Education=Matt Burriola
Vice.President.of.Membership=Nassar Shukayr
Vice.President.of.Public.Relation=Traci Caldwell
Secretary.and.Treasurer=Shawanna Lambert
Sergeant.at.Arms=Genie Riffe

[Header]
ClubName=RBFCU RISING STARS TOASTMASTERS CLUB
ClubDetails=CLUB #744735, AREA 82, DIVISION H, DISTRICT 55