[Header]
0=Call to Order|PresidingOfficer
1=Invocation|Invocation
2=Pledge|All
3=Introductions/Business|PresidingOfficer

[Agenda]
0=Toastmaster|Toastmaster
1=Humorist|Humorist
2=Wordmaster|Wordmaster
3=Educational Tip|EducationalTip
4=Speaker 1|Speaker1
5=Speaker 2|Speaker2
6=Table Topics Master|TableTopicsMaster
7=General Evaluator|GeneralEvaluator
8=Timer|Timer
9=Evaluator 1|Evaluator1
10=Evaluator 2|Evaluator2
11=Timer|Timer
12=Grammarian|Grammarian
13=Wordmaster|Wordmaster
14=Awards|Awards
15=Review Next Meeting|ReviewNextMeeting
16=Rising and Falling Stars|RisingAndFallingStars
17=Adjournment|Adjournment

[OfficersOrder]
0=President|President
1=Vice President of Education|Vice.President.of.Education
2=Vice President of Membership|Vice.President.of.Membership
3=Vice President of Public Relations|Vice.President.of.Public.Relation
4=Secretary and Treasurer|Secretary.and.Treasurer
5=Sergeant at Arms|Sergeant.at.Arms